.DS_Store

/public/media/
/storage/accounts/*
/storage/cache
/storage/sessions/*
/vendor/getkirby/cms
/content/1_projects/*/
/content/2_about/*
/content/site.txt

/vendor/*/
/composer.lock
/vendor/*.php
kirby/
